{% extends "encyclopedia/layout.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'encyclopedia/add-page.css' %}">
{% endblock %}
{% block body %}
<form class="rayan" action="{% url 'q:index1' %}" method="POST">
    <h1>Add title:</h1>
    {% csrf_token %}
    <input type="text" id="title" name="title_new_page" placeholder="title" required >
    <h1 id="rayan">Add-Page:</h1>
    <textarea name="text" id="text"  cols="30" rows="10" required placeholder="These is a Markdown's syntax Read through GitHub’s <<Markdown guide in the sidebar>> to get an understanding for how Markdown’s syntax works." ></textarea><br>
    <input type="submit">
</form>

{% endblock%}